#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    height: 100%;
    width: 98%;
    margin-left: auto;
    margin-right: auto;

}
#title{
    text-align: center;
}
.h1{
    font-size: 45px;
}
.p{
    color: #333;
}
#img-div{
    text-align: center;
    background-color: white;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
#image{
    display: block;
    max-width: -webkit-fill-available;
}

#tribute-info{
    text-align: center;
}
.li{
    margin-top: 16px;
    font-family: -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Helvetica Neue',
    Arial,
    sans-serif;
}
.tribute{
    margin-top: 20px;
    width: 80%;
     margin-left: auto;
     margin-right: auto;

}
#ip{
      margin-top: 20px;
      width: 75%;
      margin-left: auto;
      margin-right: auto;
      font-family: -apple-system,
      BlinkMacSystemFont,
      'Segoe UI',
      'Roboto',
      'Helvetica Neue',
      Arial,
      sans-serif;
      font-size: 1.2rem;
      line-height: 1.5;
      color: #333;
}
#link{
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
}
